html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../images/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 80%;
    height: 80%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height:3.7rem;
    width:3.7rem;
    margin: 0.2rem 0.2rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.disabled {
	pointer-events: none;
	opacity: 0.9;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.timer {
	display: inline-block;
	margin: 0 1rem;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/* The Congratulations popup message */

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align: center;
     overflow: auto; /* Enable scroll if needed */
     z-index: 1000;
     padding-top: 100px; /* Location of the box */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.overaly-content {
    position : relative;
    background-color: #fefefe;
    margin: auto;
    top:10%;
    left:auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: auto;
    text-align:center;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The play again button */

.overaly-button {
	display: flex;
	justify-content: space-around;
  padding: 1rem;
}

.play-again {
  width: 40%;
  height: auto;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  cursor: pointer;
	font-size: 15px;
	display: block;
  border: none;
	border-radius: 5px;
  box-shadow: 0 5px #999;
}
/* refrance to W3 school*/
.play-again:hover {background-color: #3e8e41}

.play-again:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* media query */
@media (min-width: 768px) {
  .deck {
		width: 660px;
		height: 680px;
	}

	.deck .card {
		height: 125px;
		width: 125px;
	}
}

@media (max-width: 320px) {
  .deck {
		width: 80%;
    height: 80%;
	}

	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
	}
}

@media (max-width: 690px) {
	.overaly-content {
		font-size: 10px;
	}

  .play-again {
    width: 3.7rem;
    font-size: 10px;
  }

  .close {
    font-size: 20px;
  }
}
